.activity-header {
  .activity-header-title {
    font-size: 1.3rem;
    padding: 0.8rem 0;
    text-align: center;
  }
}
.activity-content {
  .activity-content-label {
    text-transform: capitalize;
    font-weight: 700;
  }
  .activity-content-value {
    color: gray;
    font-size: 17px;
  }
}

.activity-placeholder {
  height: 19rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
